/* color palette https://colorhunt.co/palette/206929 */

body {
    background-color: #ffefa0;
}

hr {
    border-style: none;
    border-top-style: dotted;
    height: 0px;
    width: 40px;
    border-color: #ffd57e;
    border-width: 4px;
}

h1 {
    color: #ac4b1c;
}

h2 {
    color: #ac4b1c;
}

h3 {
    color: #ac4b1c;
}